.Mymodule {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    display: none;
}

.Mymodule.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.MymoduleContent {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    min-width: 250px;
}