body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.wrapper {
    padding: 20px;
    border: 1px solid black;
    border-radius: 9px;
    min-width: 500px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.imageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px dashed black;
    border-radius: 5px;
    height: 200px;
}
.imageBox img {
    width: 100px;
    height: 100px;
    
}
.Characters {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.Characters--items {
    display: flex;
    justify-content: space-between;
}
.Characters--ratio {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}
.BtnDonwload {
    padding: 15px;
    border-radius: 5px;
}

.imgActive {
    min-width: 100%;
    min-height: 100%;
}

