body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    ul {
        margin: 0;
        padding: 0px;
        list-style: none;
    }
}

.App {
    display: flex;
}

.leftMenuContainer {
    padding: 0px 10px;
    width: 45px;
    height: 100vh;
    box-shadow: -5px 0px 5px -5px rgba(34, 60, 80, 0.6) inset;

    .menuItems {
        list-style: none;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        li {
            margin: 10px 0;
            padding: 10px;
            border-radius: 15px;
            cursor: pointer;
        
            img {
                width: 25px;
            }
            
        }

        li.active {
            background: #ccc;

            img {
                fill: white;
            }
        }

        .bagItem {
            position: relative;

            span {
                position: absolute;
                background: red;
                padding: 3px;
                color: white;
                font-weight:bolder;
                font-size: small;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                text-align: center;
                bottom: 3px;
                right: 0px;
            }
        }

    }
}


.productListContainer {
    padding: 10px;
    width: 100%;
    height: calc(100vh - 20px);
    display: flex;
    flex-direction: column;
   
    .searchBlock {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;

        .search {
            display: flex;
            gap: 10px;
            border-radius: 20px;
            padding: 5px;
            width: 40%;
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);


            input {
                border: none;
                border-radius: inherit;
                outline: none;
                padding: 10px;
                width: 100%;
            }


            .imgContainer {
                transition: all .3s;
                padding: 7px;
                border-radius: 50%;
                display: flex;
                cursor: pointer;

                &:hover {
                    background: #ccc;
                }
            }
        }
    }

    .productList {
        margin-top: 10px;
        height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding-right: 10px;

        .product {
            cursor: pointer;
            width: calc(100% / 4);
            padding: 10px;
            max-width: 200px;
            height: 400px;
            margin: 0 auto;
            margin-top: 20px;

            img {
                width: 100%;
                height: 50%;
            }

            .productName {
                font-size:20px;
                font-weight: 600;
            }

            .productColor {
                color: #60695C;
                margin-top: -15px;
                font-size: 16px;
            }

            .price {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .priceCount {
                    font-size: 20px;
                    font-weight: 600;
                }

                button {
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    border: none;
                    border-radius: 10px;
                    padding: 7px;

                    &:hover {
                        background: #60695C;
                    }

                    .toBag {
                        fill: green;
                    }
                }
            }

            &:hover {
                box-shadow: 0px 5px 17px 14px rgba(34, 60, 80, 0.2);

            }
        }

        &::-webkit-scrollbar {
            width: 10px; /* ширина для вертикального скролла */
            height: 4px; /* высота для горизонтального скролла */
            background-color: white;
        }
        
        /* ползунок скроллбара */
        &::-webkit-scrollbar-thumb {
            background-color: #696969;
            border-radius: 9em;
        }
        
        &::-webkit-scrollbar-thumb:hover {
            background-color: #253861;
        }
    }
}

.productInfo {
    padding: 10px;
    height: calc(100vh - 20px);
    overflow-y: scroll;
    width: 100%;

    .back {
        font-size: 20px;
        width: fit-content;
        margin-bottom: 20px;
        cursor: pointer;

        &:hover {
            font-weight: 700;
        }
    }
    hr {
        height: 3px;
        background: #696969;
        margin: 40px auto;
    }
    .productMainInfo {
        display: flex;
        gap: 30px;
        

        .images {
            display: flex;
            width: 60%;
            gap: 30px;
            padding: 20px;
            height: auto;

            .verticalImages {
                display: flex;
                justify-content: space-between;
                flex-direction: column;

                img {
                    width: 50px;
                    cursor: pointer;
                }
                
            }

            .currentImage {
                width: 100%;
                
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 300px;
                    height: 300px;
                }
            }
        }

        .info {
            width: 70%;
            display: flex;
            flex-direction: column;
            .title {
                font-size: 50px;
                margin: 0;
            }

            .brand {
                color: #1A1F1680;
                font-size: 25px;
                margin: 0;

            }

            .price {
                margin: 0;
                margin-top: 30px;
                font-size: 25px;
            }



            .buttonBlock {
                display: flex;
                justify-content: flex-end;
                height: 100%;

                button {
                    cursor: pointer;
                    background: black;
                    padding: 5px 15px;
                    border-radius: 10px;
                    align-self: flex-end;

                    span {
                        color: white;
                        margin-left: 20px;
                    }
                }

                button.added {
                    background: #696969;
                }
            }
        }
    }
}

.bag{
    overflow-y: scroll;
    height: 100vh;
    width: 100%;

    .checkout {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid black;
        border-radius: 10px;
        margin-top: 20px;
        margin-bottom: 20px;
        span {
            font-size: 20px;
            font-weight: 600;
        }

        button {
            cursor: pointer;
            padding: 5px;
            color: white;
            background: black;
            border-radius: 10px;
        }
    }
}

.bagItem {
    display: flex;
    padding: 20px;
    max-height: 300px;

    .img {
        width: 35%;
        min-width: 35%;
        margin-right: 30px;
        img {
            width: 100%;
            height: 100%;
        }
    }

    .info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        .title {
            font-size: 25px;
            margin-bottom: -15px;
        }

        .brand {
            font-size: 20px;
            color: #60695C;
        }

        .priceAndCount {
            display: flex;
            align-items: center;
            justify-content: space-between;
         

            .price {
                font-size: 20px;
            }

            .count {
                display: flex;
                align-items: center;

                span, button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 10px;
                    border-radius: 50%;
                    background: 1px solid rgba(255, 255, 255, 0);
                }

                button {
                    font-size: 20px;
                    width: 20px;
                    height: 20px;

                    &.minus {
                        color: red;
                    }

                    &:hover {
                        cursor: pointer;
                        border-color: 1px solid black;
                    }
                }

                span {
                    font-size: 20px;
                    height: 20px;
                }

            }
        }
    }

    &:hover {
        cursor: pointer;
        box-shadow: 0px 5px 17px 14px rgba(34, 60, 80, 0.2);
    }
}


.modalContainer {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(196, 193, 193, 0.545);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .modal {
        min-width: 200px;
        min-height: 200px;
        background: white;
        border-radius: 20px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        max-height: 90vh;
        z-index: 100;

        button {
            width: fit-content;
            align-self: flex-end;
            margin-bottom: 20px;
            background: none;
            border: 1px solid rgb(189, 189, 189);
            border-radius: 10px;
            padding: 3px;
            cursor: pointer;
        }
    }

}


.shippingData {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: uppercase;
    width: 100%;

    form {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    label {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        margin-top: 10px;
    }

    .send {
        padding: 5px;
        text-transform: uppercase;
        border: 1px solid rgba(0, 0, 0, 0);
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid rgb(0, 0, 0);

        &:active {
            box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
        }
    }

    
}

.orderInfo {
    padding: 20px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 20px;

    p {
        font-size: 18px;
    }
}