body {
    margin: 0px;
    overflow: hidden;
}
.wrapper {
    display: flex;
    width: 100%;
}
.btw {
    margin-left: 10px;
    margin-right: 10px;
}
.logo {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    margin-top:10px;
    margin-bottom: -10px;
    width: 30px;
    height: 30px;
}

.sign {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: -10px;
    margin-right: 10px;
}

.sign:hover {
    background-color: #FDCB6E;
    cursor: pointer;
    animation: changingSign .3s ease;
}

@keyframes changingSign {
    from {
        background: white;
    }
    to {
        background: #FDCB6E;
    }
}

.header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    z-index: 1;
    background: white;
}

hr {
    width: 100%;
    background: black;
    height: 2px;
    border: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.header--menuList {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    justify-content: space-between;
    justify-self: center;
}

.header--menuList .item {
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    margin: -15px 0px -15px 0px;
}



.header--menuList .item:hover {
    background-color: #FDCB6E;
    color: black;
    cursor: pointer;
    animation: changing .3s ease;
}

@keyframes changing {
    from {
        background: white;
    }
    to {
        background: #FDCB6E
    }
}

.markDiscribe {
    border: 1px solid black;
    height: 83vh;
    min-width: 19%;
    max-width: 19%;    
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.markDiscribe {
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    padding: 10px;

}
.raiting {
    display: flex;
}

.raiting p {
    margin-left: 30px;
    margin-top: 10px;
}

.raiting img {
    width: 30px;
    height: 30px;
    border-radius: 100px;
    margin-right: -20px;
}

.solvedProblem, .rate {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    margin-top: 100px;
    margin-bottom: -10px;
    margin-right: 10px;
    
}


.solvedProblem:hover, .rate:hover {
    background-color: #FDCB6E;
    color: black;
    cursor: pointer;
    animation: changingSign .3s ease;
}

.rate {
    margin-top: 10px;
}

.grad {
    display: flex;
    height: 5px;
    margin-top: 10px;
    border-radius: 10px;
}

.grad .redgrad {
    width: 0%;
    height: 100%;
    background: red;
}

.grad .greengrad {
    width: 100%;
    height: 100%;
    background: green;
}

.mark {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 250px;
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin: 15px;
    padding: 10px;
}

.mark a {
    margin-top: -40px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.mark a:hover {
    color: blue;
}


.mark img {
    width: 100%;
    height: 50%;
    margin-bottom: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.wrapper.journal {
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.journalbody {
    overflow: auto;
}

a {
    color: black;
    text-decoration: none;
}

#menu {
    position: absolute;
    width: 12em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding-bottom: 10px;
    z-index: 2
}

#menu ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
}


input {
    width: 10em;
}




