body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: blue;
}

.dragg {
    width: 80%;
    background-color: white;
    border-radius: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    position: relative;
    user-select: none;
}

.list {
    list-style: none;
    display: flex;
    padding: 15px;
    gap: 10px;
    margin-left: 25px;
    margin-right: 25px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.list.dragging {
    scroll-behavior: auto;
    cursor:grab;
}

.list.dragging li {
    user-select: none;
    pointer-events: none;
}

.listItem {
    white-space: nowrap;
    border:1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 100px;
}

.icon {
    border: 1px solid gray;
    background: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
}

.Left {
    left: 10px;
}

.Right {
    right: 10px;
}

.active {
    background: blue;
    color: white;
}