@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');* {
    font-family: "Poppins", sans-serif;
}
body {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.picker {
    width: 300px;
}

.picker .picker--btnBackround {
    background-color: rgb(211, 213, 215);
    padding: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picker .picker--btn {
    border: none;
    padding: 15px;
    border-radius: 5px;
    background-color: rgb(61, 101, 243);
    color: aliceblue;
    font-size: 16px;
}

.picker .picker--btn:hover {
    background-color: rgb(32, 78, 242);
    cursor: pointer;
}

.picker .picker--headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.picker--headers span {
    color: rgb(75, 161, 247);
    cursor: pointer;
}

.picker--headers span:hover {
    color: rgb(0, 92, 185);
}

.picker--headers h3 {
    font-weight: 500;
}

.picker .picker--colorList {
    list-style-type: none;
    padding: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.picker--colorList li{
    display: flex;
    align-items: center;
    gap: 5px;
    width: calc(100% / 3 - 7px);
}

.picker--colorList li .rect {
    min-width: 20px;
    height: 20px;
    background-color: #05198a;
    border-radius: 5px;
}

.picker--colorList li .rect:hover {
    cursor: pointer;
    
}

.picker--colorList li .value {
    font-size: 15px;
    font-weight:600;
}



