input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(221, 221, 221);
    outline: none;
    width: 100%;
    font-size: 16px;
    color: rgb(57, 57, 57);
    box-sizing: border-box;
}