body {
    background: blue;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.addTagApp{
    background: white;
    padding: 15px;
    border-radius: 20px;
    width: 400px;
}

.tagsContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tag {
    display: inline;
    border: 1px solid #ccc;
    width: fit-content;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
}

.tag:hover {
    background: #ccc;
}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.addTag {
    border: none;
    outline: none;
}

.removeAllTags{
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: white;
    background: rgb(25, 25, 251);
    text-transform: uppercase;
    cursor: pointer;
}

.removeAllTags:hover {
    background: rgb(0, 0, 63);
}

.title {
    display: flex;
    gap: 10px;
}

p {
    font-size: 17px;
}

